@font-face {
  font-family: "Montserrat";
  src: url("/com/rgbteam/cmf/fonts/static/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/com/rgbteam/cmf/fonts/static/Montserrat-Medium.ttf");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/com/rgbteam/cmf/fonts/static/Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

.root {
  -fx-font-family: "Montserrat";
  /* -fx-background-color: linear-gradient(to bottom, #a6b09c, #f6f6e7); */
}

#lableInformation {
  -fx-font-weight: 500;
}

#mainButton {
  -fx-background-color: #989bd5;
  -fx-font-size: 26;
  -fx-font-weight: bold;
}

/* #myButton:hover {
    -fx-background-color: linear-gradient(to bottom, #eacbe9, #989bd5);
} */

#labelCompound {
  -fx-font-size: 50;
  -fx-font-weight: bold;
}

#firstCard,
#secondCard,
#thirdCard {
  -fx-font-size: 26;
  -fx-font-family: "Montserrat Medium";
}

#atomitMass {
  -fx-font-size: 30;
  -fx-font-weight: bold;
}
