@font-face {
  font-family: "Montserrat";
  src: url("/com/rgbteam/cmf/fonts/static/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/com/rgbteam/cmf/fonts/static/Montserrat-Medium.ttf");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/com/rgbteam/cmf/fonts/static/Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

.root {
  font-family: "Montserrat";
  -fx-font-family: "Montserrat";
  background-color: linear-gradient(to bottom, #cce6ea,  #9dc0e0);
  -fx-background-color: linear-gradient(to bottom, #cce6ea,  #9dc0e0);
}

#lableInformation {
  font-weight: 500;
  -fx-font-weight: 500;
}

#mainButton {
  background-color: #236ea8;
  -fx-background-color: #236ea8;
  font-size: 26;
  -fx-font-size: 26;
  font-weight: bold;
  -fx-font-weight: bold;
}

#mainButton:hover {
  -fx-scale-x: 1.1;
  -fx-scale-y: 1.1;
}

#mainButton:pressed {
  background-color: #6999c6;
  -fx-background-color: #6999c6;
}

#labelCompound {
  font-size: 50;
  -fx-font-size: 50;
  font-weight: bold;
  -fx-font-weight: bold;
}

#firstCard,
#secondCard,
#thirdCard {
  font-size: 26;
  -fx-font-size: 26;
  font-family: "Montserrat Medium";
  -fx-font-family: "Montserrat Medium";
}

#atomitMass {
  font-size: 30;
  -fx-font-size: 30;
  font-weight: bold;
  -fx-font-weight: bold;
}
